[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  REACT_APP_SANITY_PROJECT_ID = "veupdktb"
  REACT_APP_SANITY_DATASET = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200